[Unit]
Description=Authentication server for Docker Registry 2
Documentation=https://github.com/cesanta/docker_auth
# Make sure that at least the certs directory exists, the container
# will fail if the configured certificates don't exist.
ConditionPathExists=/etc/registry/certs
After=network-online.target
Wants=container-registry.service

[Service]
Restart=on-failure
EnvironmentFile=/etc/sysconfig/container-registry
ExecStartPre=-/usr/bin/podman stop %N
ExecStartPre=-/usr/bin/podman rm %N
ExecStartPre=-/usr/bin/podman pull ${AUTH_SERVER_IMAGE_PATH}
ExecStart=/usr/bin/podman run -d --conmon-pidfile /%t/%n-pid --rm -v /etc/registry:/etc/registry -p 5001:5001 --name %N ${AUTH_SERVER_IMAGE_PATH}
ExecStop=/usr/bin/podman stop %N
KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
